# gitignore
.env.php
*.env.php
*.csv
*cookie*
.idea
vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
_deploy/
*.webp
*.WEBP
*.key
*.txt
*.zip
*.rar
*.tar
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
*.JPG
*.PNG
*.JPEG
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log